@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #081b29;
  color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: fixed;
  top: 0;
  left: -50;
  width: 50vw;
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(8, 27, 41, 0.8);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.logo {
  font-size: 2vw;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 1vw;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.92vw;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.background {
  object-fit: cover;
  opacity: 0.3;
  width: 100%;
  position: absolute;
  height: 100%;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.sidebar {
  background-color: rgba(2, 89, 151, 0.8);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sidebar .text-box {
  margin-bottom: 3vw;
  text-align: center;
}

.sidebar .text-box h1 {
  font-size: 2.5vw;
  margin-bottom: 2vw;
  position: relative;
}

.sidebar .text-box h1::after {
  content: '';
  position: absolute;
  left: 8px;
  bottom: -0.5vw;
  width: 95%;
  height: 2px;
  border-radius: 10px;
  background-color: rgba(32, 32, 32, 0.8);
}

.sidebar .text-box p {
  font-size: 1.1vw;
  text-align: center;
}

.sidebar .btn-container {
  width: 100%;
  margin-bottom: 1vw;
}

.sidebar .btn-container button {
  width: 100%;
  padding: 1vw;
  font-size: 1.2vw;
  color: rgba(32, 32, 32, 0.8);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.3s ease;
  background: transparent;
  font-weight: 500;
}

.sidebar .btn-container button:hover {
  color: rgba(0, 0, 0, 0.8)
}

.crearPaciente {
  position: absolute;
  max-width: 50vw;
  transition: left 0.5s ease-out;
}

.crearPaciente h1 {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.2;
}

.crearPaciente {
  background-color: #00acf09a;
  margin-top: 7vw;
  height: 35vw;
  width: 35vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: .9vw;
  padding-bottom: 1vw;
}

.actualizarPaciente {
  left: -100%;
  background-color: #00acf09a;
  margin-top: 7vw;
  height: 35vw;
  width: 35vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: .9vw;
  padding-bottom: 1vw;
  transition: left 0.5s ease-out;
}

.actualizarPaciente h1 {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.2;
}

.consultarPacientes {
  left: -100%;
  background-color: #00acf09a;
  margin-top: 7vw;
  height: 35vw;
  width: 70vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  font-size: .9vw;
  padding-bottom: 1vw;
  transition: left 0.5s ease-out;
}

.consultarPacientes h1 {
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.2;
}

.input-group input {
  width: 20vw;
  text-align: center;
  height: 2vw;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: .5s;
}

#btnCrear {
  width: 20vw;
  text-align: center;
  height: 2vw;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: .5s;
  cursor: pointer;
}

#btnCrear:hover {
  background-color: rgba(0, 255, 0, 0.596);
  cursor: pointer;
}

#btnActualizar {
  width: 20vw;
  text-align: center;
  height: 2vw;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: .5s;
  cursor: pointer;
}

#btnActualizar:hover {
  background-color: rgba(0, 255, 0, 0.596);
  cursor: pointer;
}

.input-group-c {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.input-group-c a {
  margin-left: 5px;
  color: #fff;
}

.input-group-c a i {
  font-size: 2vw;
  cursor: pointer;
  transition: ease .5s;
}

.input-group-c a i:hover {
  color: #00abf0;
}

.input-group-c label {
  display: block;
  font-size: .9vw;
  margin-right: 10px;
}

.input-group-c input {
  width: 20vw;
  text-align: center;
  height: 2vw;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: .5s;
}

#btnConsultar,
#btnConsultarTodos {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
  margin-right: 10px;
}

#btnConsultar:hover,
#btnConsultarTodos:hover {
  background-color: rgba(0, 255, 0, 0.596);
  cursor: pointer;
  color: #fff;
}

/* Estilo de la tabla*/

.table-container {
  margin-top: 20px;
  overflow-y: auto;
  background-color: #ededed;
  height: 250px;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 0;
  border-collapse: collapse;
  background-color: #ededed;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ddd;
  color: #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tbody tr:hover {
  background-color: #ddd;
}


.v-campo-vacio {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.v-id-existe-paciente {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.v-campo-vacio-consultar {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.v-id-no-existe-pediatra {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.v-id-caracteres {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.v-id-no-existe-paciente {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(179, 0, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.goodRegistration {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(30, 179, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.goodUpdate {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(30, 179, 0, 0.8);
  bottom: 1.5vw;
  left: -100%;
  width: 35vw;
  height: 6vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: left 0.5s ease-in-out;
  font-size: .9vw;
}

.show {
  left: 0;
  /* Desplazamiento hacia la posición inicial (0) */
}