@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 25%;
    width: 50vw;
    padding: 2vw 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(8, 27, 41, 0.8);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo{
    font-size: 2vw;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.background{
    object-fit: cover;
    opacity: 0.3;
    width: 100%;
    position: absolute;
    height: 100%;
}

.completeRegistration{
    position: absolute;
    top: 12vw;
    left: 35vw;
    height: 30vw;
    width: 30vw;
    background-color: rgba(0, 183, 255, 0.658);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.completeRegistration input{
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.completeRegistration label{
    margin-top: 1vw;
}

.emptyFieldsReg{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(179, 0, 0, 0.8);
    bottom: 1.5vw;
    left: -100%;
    width: 35vw;
    height: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .9vw;
}

.successfulUpdate{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(30, 179, 0, 0.8);
    bottom: 1.5vw;
    left: -100%;
    width: 35vw;
    height: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .9vw;
}

.notFoundMail{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(179, 0, 0, 0.8);
    bottom: 1.5vw;
    left: -100%;
    width: 35vw;
    height: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .9vw;
}

.show {
    left: 0; /* Desplazamiento hacia la posición inicial (0) */
  }

  .completeRegistration .submit-reg:hover{
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}