@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(8, 27, 41, 0.8);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo {
    font-size: 2vw;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 1vw;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.92vw;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #f00000;
}

.background {
    object-fit: cover;
    opacity: 0.3;
    width: 100%;
    position: absolute;
    height: 100%;
}

.sideBar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20vw;
    background-color: rgba(2, 89, 151, 0.8);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1vw;
}

.sideBarTitle {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.sideBarOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.sideBarOptions a {
    margin-bottom: 1vw;
    text-decoration: none;
    font-size: 1.2vw;
    color: rgba(32, 32, 32, 0.8);
    transition: .5s;
}

.sideBarOptions a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.insertarAlimentoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.deleteAlimentoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.viewAlimentoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
}

.viewGroupContainer {
    position: absolute;
    top: 10vw;
    left: 25%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
}

.grupoVisualizer {
    position: absolute;
    top: 20%;
    width: 26vw;
    height: 50vh;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 20px;
    display: block;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-top: 1vw;
}

.viewGroupContainer h1 {
    position: absolute;
    top: 3vw;
}

.viewGroupContainer input {
    position: absolute;
    top: 31.5vw;
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}


.viewAlimentoContainer h1 {
    position: absolute;
    top: 3vw;
}

.viewAlimentoContainer input {
    position: absolute;
    top: 31.5vw;
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}


.alimentoVisualizer {
    position: absolute;
    top: 20%;
    width: 26vw;
    height: 50vh;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 20px;
    display: block;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-top: 1vw;
}

.viewAlimentoContainer input:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

#Submitfood:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

#submitUpdate:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

#SubmitGroup:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}


.insertarAlimentoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.insertarAlimentoContainer select {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}



.deleteAlimentoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.deleteAlimentoContainer select {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.insertarAlimentoContainer #Submitfood:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

.deleteAlimentoContainer #SubmitfoodDeletion:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

#SubmitGroupUpdate:hover {
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}

#SubmitgroupDeletion:hover{
    background-color: rgba(0, 255, 0, 0.596);
    cursor: pointer;
}



.emptyFieldsFoodReg {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(179, 0, 0, 0.8);
    bottom: 1.5vw;
    left: -100%;
    width: 35vw;
    height: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .9vw;
}

.goodFoodReg {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(30, 179, 0, 0.8);
    bottom: 1.5vw;
    left: -100%;
    width: 35vw;
    height: 6vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .9vw;
}

.actualizarAlimentoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.actualizarAlimentoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.actualizarAlimentoContainer select {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.insertarGrupoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.insertarGrupoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.modificarGrupoContainer {
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.modificarGrupoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.modificarGrupoContainer select {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.deleteGrupoContainer{
    position: absolute;
    top: 10vw;
    left: -100%;
    width: 50vw;
    height: 35vw;
    padding: 2vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 68, 117, 0.8);
    border-radius: 20px;
    transition: left 0.5s ease-in-out;
    font-size: .8vw;
}

.deleteGrupoContainer input {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}

.deleteGrupoContainer select {
    width: 20vw;
    text-align: center;
    height: 2vw;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    margin-top: 1vw;
}



.show {
    left: 0;
    /* Desplazamiento hacia la posición inicial (0) */
}

.alimentoVisualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showAlimentoContainer {
    left: 25%;
}

.grupo {
    text-align: center;
}